In [1]:
#This is a fake news detection project on kaggle dataset on fake news 
#i.e.https://www.kaggle.com/clmentbisaillon/fake-and-real-news-dataset

In [4]:
!pip install pandas

WARNING: Keyring is skipped due to an exception: Failed to unlock the keyring!
Collecting pandas
  Downloading pandas-1.3.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 3.5 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.17.3 in /usr/lib/python3/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2021.1)
Installing collected packages: pandas
Successfully installed pandas-1.3.2

In [20]:
import pandas as pd
fake = pd.read_csv("/home/ramandeep/Desktop/Coding/Python/Untitled Folder 2/archive (1)/Fake.csv")
true = pd.read_csv("archive (1)/True.csv")

In [21]:
#addinf a flag and conctenating the files
fake['y'] = 'fake'
true['y'] = 'true'
data = pd.concat([fake, true]).reset_index(drop = True)
data.shape

(44898, 5)

In [9]:
!pip install sklearn

WARNING: Keyring is skipped due to an exception: Failed to unlock the keyring!
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp39-cp39-manylinux2010_x86_64.whl (23.8 MB)
     |████████████████████████████████| 23.8 MB 1.9 MB/s eta 0:00:01
Requirement already satisfied: scipy>=0.19.1 in /usr/lib/python3/dist-packages (from scikit-learn->sklearn) (1.6.0)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.2.0-py3-none-any.whl (12 kB)
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
     |████████████████████████████████| 303 kB 9.0 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.13.3 in /usr/lib/python3/dist-packages (from scikit-learn->sklearn) (1.19.5)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1315 sha256=0e2ab19579c7d684fba85f7275d38f5a0c3c79aee9756f8ce70a3cccc23a2810
  Stored in directory: /home/ramandeep/.cache/pip/wheels/e4/7b/98/b6466d71b8d738a0c547008b9eb39bf8676d1ff6ca4b22af1c
Successfully built sklearn
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
Successfully installed joblib-1.0.1 scikit-learn-0.24.2 sklearn-0.0 threadpoolctl-2.2.0

In [22]:
from sklearn.utils import shuffle
data = shuffle(data)
data = data.reset_index(drop=True)

In [23]:
data.head()

,title,text,subject,date,y
0,WATCH: LEFTIST DEM SENATOR Chuck Schumer Caugh...,Senator Chuck Schumer sounds almost breathless...,left-news,"Sep 14, 2017",fake
1,Watch Elizabeth Warren Clobber Trump And Scot...,Massachusetts Senator Elizabeth Warren once ag...,News,"June 19, 2016",fake
2,Boiler Room EP #74 – Dustification & The Crook...,Tune in to the Alternate Current Radio Network...,US_News,"September 14, 2016",fake
3,Four killed in Canada helicopter crash,(Reuters) - Four people were killed on Thursda...,worldnews,"December 14, 2017",true
4,Islamic State guerrilla attacks point to its f...,BEIRUT (Reuters) - Syrian and Iraqi forces clo...,worldnews,"October 27, 2017",true

In [24]:
data.drop(["date"],axis=1,inplace=True)
data.drop(["text"],axis=1,inplace=True)
data.head()

                                               title    subject     y
0  WATCH: LEFTIST DEM SENATOR Chuck Schumer Caugh...  left-news  fake
1   Watch Elizabeth Warren Clobber Trump And Scot...       News  fake
2  Boiler Room EP #74 – Dustification & The Crook...    US_News  fake
3             Four killed in Canada helicopter crash  worldnews  true
4  Islamic State guerrilla attacks point to its f...  worldnews  true

In [25]:
data['title'] = data['title'].str.lower()
data.head()

                                               title    subject     y
0  watch: leftist dem senator chuck schumer caugh...  left-news  fake
1   watch elizabeth warren clobber trump and scot...       News  fake
2  boiler room ep #74 – dustification & the crook...    US_News  fake
3             four killed in canada helicopter crash  worldnews  true
4  islamic state guerrilla attacks point to its f...  worldnews  true

In [26]:
import string

In [28]:
def punctuation_removal(text):
    all_list = [char for char in text if char not in string.punctuation]
    clean_str = ''.join(all_list)
    return clean_str

data['title'] = data['title'].apply(punctuation_removal)
data.head()

                                               title    subject     y
0  watch leftist dem senator chuck schumer caught...  left-news  fake
1   watch elizabeth warren clobber trump and scot...       News  fake
2  boiler room ep 74 – dustification  the crooked...    US_News  fake
3             four killed in canada helicopter crash  worldnews  true
4  islamic state guerrilla attacks point to its f...  worldnews  true

In [30]:
!pip install nltk
import nltk

WARNING: Keyring is skipped due to an exception: Failed to unlock the keyring!
Collecting nltk
  Downloading nltk-3.6.2-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 1.1 MB/s eta 0:00:01
Requirement already satisfied: joblib in /home/ramandeep/.local/lib/python3.9/site-packages (from nltk) (1.0.1)
Requirement already satisfied: click in /usr/lib/python3/dist-packages (from nltk) (7.1.2)
Collecting tqdm
  Downloading tqdm-4.62.2-py2.py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 547 kB/s eta 0:00:01
Collecting regex
  Downloading regex-2021.8.27-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (761 kB)
     |████████████████████████████████| 761 kB 1.6 MB/s eta 0:00:01
Installing collected packages: tqdm, regex, nltk
Successfully installed nltk-3.6.2 regex-2021.8.27 tqdm-4.62.2

In [32]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['title'] = data['title'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ramandeep/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
# Split the data
X_train,X_test,y_train,y_test = train_test_split(data['title'], data.y, test_size=0.2, random_state=42)

In [42]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import accuracy_score

In [44]:
#LogisticRegression

In [43]:
# Vectorizing and applying TF-IDF
from sklearn.linear_model import LogisticRegression

pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', LogisticRegression())])

# Fitting the model
model = pipe.fit(X_train, y_train)

# Accuracy
prediction = model.predict(X_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 94.71%

In [45]:
#Decision Tree Classifier

In [46]:
from sklearn.tree import DecisionTreeClassifier

# Vectorizing and applying TF-IDF
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', DecisionTreeClassifier(criterion= 'entropy',
                                           max_depth = 20, 
                                           splitter='best', 
                                           random_state=42))])
# Fitting the model
model = pipe.fit(X_train, y_train)

# Accuracy
prediction = model.predict(X_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 82.86%

In [47]:
#Random Forest Classifier

In [48]:
from sklearn.ensemble import RandomForestClassifier

pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', RandomForestClassifier(n_estimators=50, criterion="entropy"))])

model = pipe.fit(X_train, y_train)
prediction = model.predict(X_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 94.96%